//importing variables from global styles
@import "../global.styles";

.user-splash {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  position: relative;

  .menu-icon {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    cursor: pointer;
    z-index: 5;
  }

  .menu-icon-close {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    cursor: pointer;
  }

  .user-left {
    background-color: white;
    transition: 0.2s all ease-in-out;
    z-index: 20;

    @media screen and (max-width: 1133px) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .user-right {
    background-color: $background-color;
  }

  @media screen and (max-width: 1133px) {
    grid-template-columns: 1fr;

    .menu-icon {
      display: block;
      opacity: 1;
    }

    .menu-icon-close {
      display: block;
      opacity: 1;
    }
  }
}
