//importing variables from global styles
@import "../../utils/global.styles.scss";
.main-container {
  height: 100%;
  padding: 3rem;
  max-width: 100%;

  @media screen and (max-width: 800px) {
    padding: 3rem 2rem;
  }

  @media screen and (max-width: 430px) {
    padding: 3rem 1rem;
  }

  &__top {
    margin-bottom: 2em;
    span {
      font-size: $font-size-big;
      font-weight: 500;
      color: $primary-color;
    }
  }

  &__middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
    @media screen and (max-width: 430px) {
      gap: 1rem;
    }
  }

  &__bottom {
    margin: 3em 0 1em 0;
    box-shadow: 3px 5px 20px 0px #0000000a;
    padding: 0em 2rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1em;

    z-index: 1;

    @media screen and (max-width: 1300px) {
      padding: 0;
    }
    @media screen and (max-width: 1080px) {
      overflow-x: scroll !important;
      max-width: 86vw;
    }
  }

  .main-container__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;

      span {
        font-size: 0.9em;
        font-weight: 400;
        color: $secondary-color;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      gap: 1.5em;
      align-items: center;

      .span-for-larger-screen-sizes {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }

      img {
        background-color: #213f7d1a;
        border-radius: 4px;
        padding: 0.6em 0.7em;
        cursor: pointer;
      }

      span {
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }
}
