// Colors
// Colors
$primary-color: #213f7d;
$secondary-color: #545f7d;
$accent-color: #39cdcc;
$background-color: #ecf0f1;
$border-color: #545f7d26;
$background-color: hsla(0, 0%, 90%, 0.12);
$header-text-color: #545f7d;

//font-sizes
$primary-font-size: 0.9rem;
$tertiary-font-size: 0.7rem;
$secondary-font-size: 0.8rem;
$font-size-big: 1.6rem;
$big-primary-font-size: 1.1rem;


// Font weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Spacing
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

// Border radius
$border-radius: 5px;

// Box shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Other variables
$line-height: 1.5;
$transition-duration: 0.3s;

// Example of a mixin
@mixin button-styles {
  padding: $padding-medium;
  border-radius: $border-radius;
  font-weight: $font-bold;
  background-color: $primary-color;
  color: white;
  box-shadow: $box-shadow;
  transition: background-color $transition-duration ease-in-out;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

//IMPORTING FONTS
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

//SRROLLBAR

//DEFAULT STYLES
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
fieldset,
label {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  all: unset;
}
input {
  all: unset;
}
select {
  outline: none;
  border: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2b2b2;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2b2b2;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2b2b2;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #b2b2b2;
}
