//importing variables from global styles
@import "../../utils/global.styles.scss";
$inactive-text-color: #545f7d;
$inactive-background-color: hsla(224, 20%, 41%, 0.271);
$active-text-color: #39cd62;
$active-background-color: hsla(137, 60%, 51%, 0.203);
$blacklist-text-color: #e4033b;
$blacklist-background-color: hsla(345, 97%, 45%, 0.201);
$pending-text-color: #e9b200;
$pending-background-color: hsla(46, 100%, 46%, 0.178);

.button {
  outline: none;
  border: none;

  padding: 0.4rem 0.6rem;
  border-radius: 25px;

  font-size: $tertiary-font-size;

  @media screen and (max-width: 1133px) {
    font-size: $secondary-font-size;
  }

  @media screen and (max-width: 1019px) {
    font-size: $tertiary-font-size;
  }
}

.inactive {
  color: $inactive-text-color;
  background-color: $inactive-background-color;
}

.active {
  color: $active-text-color;
  background-color: $active-background-color;
}

.blacklist {
  color: $blacklist-text-color;
  background-color: $blacklist-background-color;
}

.pending {
  color: $pending-text-color;
  background-color: $pending-background-color;
}
